<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<style>

  .container {
    position: relative;
    text-align: top-left;
    color:darkslategray;

  }
  .top-left {
    position: absolute;
    top: 280px;
    left: 400px;
    transform: translate(-50%, -50%);
    color:darkviolet;
  }
  </style>
  
<body>
  <b><div class="top-left"><h1>ABOUT US:</h1></div></b>
  <div class="container">
    <img src="./assets/IMAGES/img012.jpg" alt="Snow" width="1230px" height="550px">
    <div class="top-left"><h4 style="color:brown">
      Nutricate is particularly designed for students belonging <br>to food science, nutrition, dietetics.
       Our aim is to impart<br> knowledge among the students and help them <br>understand the concepts in Nutrition allied areas. 
       Students<br> can find some useful lectures in the video library. 
       A regular<br> quiz will be uploaded to help check your progress and <br>understanding of the subjects. 
       Although this is a student <br>centered website,it does not limit till there.
        For those <br>among the general public who are interested in knowing <br>more about nutrition can also benefit. 
      Some of the<br> videos will be uploaded to spread awareness among<br> the citizens.
    </h4>
    </div>
    </div>
 

  
   