<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
        <style>
    
        .container {
          position: relative;
          text-align: center;
          color:darkslategray;
      
        }
        .carousel-inner img {
        width: 100%;
        height: 100%;
        
      }
        .centered {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          color:darkviolet;
        }
        </style>
      
         
          <div class="container">
            <div class="row">
              
          <div class="x">
              <div id="demo" class="carousel slide" data-ride="carousel">
                <ul class="carousel-indicators">
                  <li data-target="#demo" data-slide-to="0" class="active"></li>
                  <li data-target="#demo" data-slide-to="1"></li>
                  <li data-target="#demo" data-slide-to="2"></li>
                  <li data-target="#demo" data-slide-to="3"></li>
                  <li data-target="#demo" data-slide-to="4"></li>
                </ul>
                <div class="carousel-inner">
                  <div class="carousel-item active">
          
                
                      <video src="./assets/MEDIA/3 rules for fruits.webm" controls width="1150px" height="300px"></video>
                      <div class="carousel-caption">
                        <p>THREE RULES FOR FRUITS</p>
                        </div> 
                    </div>
                      <div class="carousel-item">
                      <video src="./assets/MEDIA/beginners guide.mp4" controls width="1150px" height="300px"></video>
                      <div class="carousel-caption">
                        <p>BEGINNERS GUIDE</p>
                        </div>
                    </div> 
                    <div class="carousel-item">
                          <video src="./assets/MEDIA/immunity.mp4" controls width="1150px" height="300px"></video>
                          <div class="carousel-caption">
                            <p>IMMUNITY</p>
                            </div> 
                        </div>
                          <div class="carousel-item">
                            <video src="./assets/MEDIA/videoplay.webm" controls width="1150px" height="300px"></video>
                            <div class="carousel-caption">
                              <p>THE FOOD GUIDE</p>
                              </div>
           
                          </div>
                            <div class="carousel-item"> 
                          <video src="./assets/MEDIA/Healthy Weight Loss Salad Recipe _ Organic and Healthy Recipes _ Sridevi Jasti _ Vibrant Living.mp4" controls width="1150px" height="300px">
                        </video>
                        <div class="carousel-caption">
                          <p>HEALTHY WEIGHT LOSS</p>
                          </div>
                         </div>
                      
                
                <a class="carousel-control-prev" href="#demo" data-slide="prev">
                  <span class="carousel-control-prev-icon"></span>
                </a>
               
                <a class="carousel-control-next" href="#demo" data-slide="next">
                  <span class="carousel-control-next-icon"></span>
                </a>
                
                
              </div> </div></div>
            </div>
          </div>
              


