<div class="container d-flex align-items-center justify-content-center position-relative flex-wrap">
    <div class="card d-flex position-relative flex-column" style="background-color:darkslategrey;">
        <div class='imgContainer'> <img src="./assets/IMAGES/food1.jpg" width="300px" height="220px"> </div>
        <div class="content">
            <h2>FOOD NUTRITION</h2>
            <p>PRICE:450 Rs/-<br>
                IN STOCK:7
            </p>
        </div>
    </div>
    <div class="card d-flex position-relative flex-column" style="background-color:darkslategrey;">
        <div class='imgContainer'> <img src="./assets/IMAGES/food2.jpg" width="300px" height="220px"> </div>
        <div class="content">
            <h2>VEGETARIAN NUTRITION AND WELLNESS</h2>
            <p>PRICE:550 Rs/-<br>
                IN STOCK:4
            </p>
             </div>
    </div>
    <div class="card d-flex position-relative flex-column" style="background-color:darkslategrey;">
        <div class='imgContainer'> <img src="./assets/IMAGES/food3.jpg" width="300px" height="220px"> </div>
        <div class="content">
            <h2>A FOOD REVOLUTION</h2>
            <p>PRICE:500 Rs/-<br>
                IN STOCK:5
            </p>
           </div>
        </div>
        <div class="card d-flex position-relative flex-column" style="background-color:darkslategrey;">
            <div class='imgContainer'> <img src="./assets/IMAGES/food4.jpg" width="300px" height="220px"> </div>
            <div class="content">
                <h2>SPORTS NUTRITION</h2>
                <p>PRICE:600 Rs/-<br>
                    IN STOCK:6
                </p>
                </div>
            </div>
            <div class="card d-flex position-relative flex-column"style="background-color:darkslategrey;"> 
                <div class='imgContainer'> <img src="./assets/IMAGES/food5.jpg" width="300px" height="220px"> </div>
                <div class="content">
                    <h2>NUTRITION</h2>
                    <p>PRICE:550 Rs/-<br>
                        IN STOCK:7
                    </p>
                   </div>
                </div>
                <div class="card d-flex position-relative flex-column"style="background-color:darkslategrey;">
                    <div class='imgContainer'> <img src="./assets/IMAGES/food6.jpg" width="300px" height="220px"> </div>
                    <div class="content">
                        <h2>BIOCHEMISTRY AND NUTRITION</h2>
                        <p>PRICE:400 Rs/-<br>
                            IN STOCK:8
                        </p>
                         </div>
                         </div>
    </div>

<router-outlet></router-outlet>