<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1 style="color:darkblue;" >MULTIPLE CHOICE QUESTIONS</h1>

  
    <label for ="q">Q1: The sour taste of vinegaris due to?</label><br>
    <input type="radio" name="question" id="q">a) Acetic acid<br>
    <input type="radio" name="question" id="q">b) Lactic acid<br>
    <input type="radio" name="question" id="q">c) Formic acid<br>
    <input type="radio" name="question" id="q">d) Citric acid<br>
    <br>
<button>Correct Option is: A</button><br><br>


    <label for ="q">Q2: Canning is the method of?</label><br>
    <input type="radio" name="question" id="q">a) Spoilage of foods<br>
    <input type="radio" name="question" id="q">b) Preservation of foods<br>
    <input type="radio" name="question" id="q">c) Making plant free from disease<br>
    <input type="radio" name="question" id="q">d) Isolating bacteria from soils<br>
    <br><button>Correct Option is: B</button><br><br>

    <label for ="q">Q3: Golden rice is rich source of?</label><br>
    <input type="radio" name="question" id="q">a) Vitamin C<br>
    <input type="radio" name="question" id="q">b) Vitamin A<br>
    <input type="radio" name="question" id="q">c) Vitamin D<br>
    <input type="radio" name="question" id="q">d) Vitamin B12<br>
    <br><button>Correct Option is: B</button><br><br>

    <label for ="q">Q4: A person is suffering from the deficiency of the visual pigment rhodospin in advised to take mor of?</label><br>
    <input type="radio" name="question" id="q">a) Radish and potato<br>
    <input type="radio" name="question" id="q">b) Apple and grapes<br>
    <input type="radio" name="question" id="q">c) Carrot and ripe papaya<br>
    <input type="radio" name="question" id="q">d) Guava and ripe banana<br>
    <br>
<button>Correct Option is: C</button><br><br>
    <label for ="q">Q5: The protein deficiency disease is known as?</label><br>
    <input type="radio" name="question" id="q">a) Scurvy<br>
    <input type="radio" name="question" id="q">b) Addison's disease<br>
    <input type="radio" name="question" id="q">c) Kwashiorkor<br>
    <input type="radio" name="question" id="q">d) Pellagra<br>
    <br><button>Correct Option is: C</button><br><br>

    <label for ="q">Q6: Amylase converts starch into?</label><br>
    <input type="radio" name="question" id="q">a) Fructose<br>
    <input type="radio" name="question" id="q">b) Glucose<br>
    <input type="radio" name="question" id="q">c) Maltose<br>
    <input type="radio" name="question" id="q">d) Lactose<br>

    <br><button>Correct Option is: B</button><br><br>
    <label for ="q">Q7: 'Kwashiorkor' and 'beri-beri' are?</label><br>
    <input type="radio" name="question" id="q">a) Communicable diseases<br>
    <input type="radio" name="question" id="q">b) Infectious diseases<br>
    <input type="radio" name="question" id="q">c) deficiency diseases<br>
    <input type="radio" name="question" id="q">d) None of these<br>

    <br><button>Correct Option is: C</button><br><br>
    <label for ="q">Q8: Which of the following is not a function of saliva?</label><br>
    <input type="radio" name="question" id="q">a) To initiate protein digestion<br>
    <input type="radio" name="question" id="q">b) To aid in cleaning the tooth<br>
    <input type="radio" name="question" id="q">c) To lubricate the pharynx<br>
    <input type="radio" name="question" id="q">d) To assist in the formation of a bolus<br>
    <br>
    <button>Correct Option is: A</button><br><br>
    
    <label for ="q">Q9: Amylase in saliva initiates digestion of?</label><br>
    <input type="radio" name="question" id="q">a) Lipids<br>
    <input type="radio" name="question" id="q">b) Proteins<br>
    <input type="radio" name="question" id="q">c) Carbohydrates<br>
    <input type="radio" name="question" id="q">d) Fats<br>
    <br><button>Correct Option is: C</button><br><br>
    
    <label for ="q">Q10: Which of the following is not an energy source for cells?</label><br>
    <input type="radio" name="question" id="q">a) Glucose<br>
    <input type="radio" name="question" id="q">b) protein <br>
    <input type="radio" name="question" id="q">c) Fats<br>
    <input type="radio" name="question" id="q">d) vitamins<br>
    <br><button>Correct Option is: D</button><br><br>
    <label for ="q">Q11: The richest sources of vitamin-B12 is ?</label><br>
    <input type="radio" name="question" id="q">a) Goat's liver and spirulina<br>
    <input type="radio" name="question" id="q">b) Chocolate and green gram<br>
    <input type="radio" name="question" id="q">c) Rice and hen's egg<br>
    <input type="radio" name="question" id="q">d) Carrot and chicken's breast<br>
    <br><button>Correct Option is: A</button><br><br>
    <label for ="q">Q12: Reduced growth, hair loss and vomiting may results from a deficiency of ?</label><br>
    <input type="radio" name="question" id="q">a) Iron<br>
    <input type="radio" name="question" id="q">b) Copper<br>
    <input type="radio" name="question" id="q">c) Pottassium<br>
    <input type="radio" name="question" id="q">d) Zinc<br>
    <br><button>Correct Option is: D</button><br><br>
    <label for ="q">Q13: Night blindness is caused by the deficiency of?</label><br>
    <input type="radio" name="question" id="q">a) Vitamin A<br>
    <input type="radio" name="question" id="q">b) Vitamin B6<br>
    <input type="radio" name="question" id="q">c) Vitamin B12 <br>
    <input type="radio" name="question" id="q">d) Vitamin C<br>
    <br><button>Correct Option is: A</button><br><br>

    <label for ="q">Q14: Vitamin C is?</label><br>
    <input type="radio" name="question" id="q">a) Folic acid<br>
    <input type="radio" name="question" id="q">b) Nicotinic acid<br>
    <input type="radio" name="question" id="q">c) Ascorbic acid<br>
    <input type="radio" name="question" id="q">d) Citric acid<br>
    <br><button>Correct Option is: C</button><br><br>

    <label for ="q">Q15: Milk protein is ?</label><br>
    <input type="radio" name="question" id="q">a) Lactogen<br>
    <input type="radio" name="question" id="q">b) Myosin<br>
    <input type="radio" name="question" id="q">c) Casein<br>
    <input type="radio" name="question" id="q">d) Pepsin<br>
    <br><button>Correct Option is: C</button><br><br>
    <label for ="q">Q16: Our food mainly contains?</label><br>
    <input type="radio" name="question" id="q">a) Carbohydrates<br>
    <input type="radio" name="question" id="q">b) Cellulose<br>
    <input type="radio" name="question" id="q">c) Sucrose<br>
    <input type="radio" name="question" id="q">d) Glucose<br>
    <br><button>Correct Option is: A</button><br><br>
    
    <label for ="q">Q17: What is the source of absorbic acid?</label><br>
    <input type="radio" name="question" id="q">a) Banana<br>
    <input type="radio" name="question" id="q">b) potato<br>
    <input type="radio" name="question" id="q">c) Orange<br>
    <input type="radio" name="question" id="q">d) Mango<br>
    <br><button>Correct Option is: C</button><br><br>

    <label for ="q">Q18: Which of the following helps the most in growth and formation of new cells?</label><br>
    <input type="radio" name="question" id="q">a) protein<br>
    <input type="radio" name="question" id="q">b) Carbohydrates<br>
    <input type="radio" name="question" id="q">c) Fats<br>
    <input type="radio" name="question" id="q">d) Salts<br>
    <br><button>Correct Option is: A</button><br><br>

    <label for ="q">Q19: In India, the best source of protein in herbivorous person is?</label><br>
    <input type="radio" name="question" id="q">a) Pulses<br>
    <input type="radio" name="question" id="q">b) potato<br>
    <input type="radio" name="question" id="q">c) Egg<br>
    <input type="radio" name="question" id="q">d) Meals<br>
    <br><button>Correct Option is: A</button><br><br>

    <label for ="q">Q20: Man is said to be starving when?</label><br>
    <input type="radio" name="question" id="q">a) Food he eat meets the loss of energy<br>
    <input type="radio" name="question" id="q">b) He begins to store reserve food<br>
    <input type="radio" name="question" id="q">c) Food he eats does not meet the loss of energy<br>
    <input type="radio" name="question" id="q">d) None of them<br>
    <br><button>Correct Option is: C</button><br><br>
</body>
</html>