<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>

<body>
    <h1>10 Very Healthy Foods You Should be Eating Regularly</h1>

    <img src="./assets/IMAGES/blogimg1.jpg" width="1350px" height="500px"> 
   <h2><P>Most trendy diets share a list of off-limit foods, which can range from beans and dairy to whole grains and sugar. However, there are some foods considered so nutritious they make practically any approved list. Thinking in those terms can be more helpful for reaching health goals. “Thinking about what you can’t have feels restrictive. But shifting your perspective to what you can add in is a healthier mindset,” says Jill Keene, a registered dietitian nutritionist and certified personal trainer in New York City.</P></h2>
         

    <div class="container-fluid">
        
         
        <div class="row">
            <div class="col-sm-6">
                <img src="./assets/IMAGES/blogimg2.jpg" width="650px" height="300px"> <br>
            </div>
           
            <div class="col-sm-6"><h3><p><br>The Mediterranean diet is rich in leafy greens (spinach, kale, chard, dandelion greens) and for good reason: Not only are they a non-starchy veggie (ideal for very low-carb diets), but they’re full of important vitamins and minerals like vitamins C, A and K, as well as iron.

                Try them in a breakfast skillet, smoothie or meal-worthy salad.</p></h3></div>
   
   <br>         </div>
    </div>
    <div class="row">
        <div class="col-sm-6"><br>
            <img src="./assets/IMAGES/blogimg3.jpg" width="650px" height="320px"> <br>
        </div>
       
        <div class="col-sm-6"><h3><p><br>Whether you’re on a high-, moderate- or low-fat plan, nutritionists advise honing in on healthy fats. Avocado fits the bill, as it’s rich in monounsaturated fats (MUFAs) that are associated with cardiovascular health, says Keene. Plus, it’s a surprisingly rich source of GI-friendly fiber. One half of the fruit packs nearly seven grams.

            Try using it in everything from chicken salad to sweet potato toast and even brownies.
            
            </p></h3></div>

<br>         </div>

<div class="row">
    <div class="col-sm-6"><br>
        <img src="./assets/IMAGES/blogimg4.jpg" width="650px" height="300px"> <br>
    </div>
   
    <div class="col-sm-6"><h3><p><br>Salmon is one of the top sources of omega-3’s, fatty acids that benefit the heart by slowing accumulation of plaque that gums up arteries and better lipid profiles and blood pressure, according to the American Heart Association. The AHA recommends consuming two fatty-fish meals per week.

        Use it in a breakfast salad or roasted for a quick weeknight dinner.</p></h3></div>

<br>         </div>

<div class="row">
    <div class="col-sm-6"><br>
        <img src="./assets/IMAGES/blogimg5.jpg" width="650px" height="350px"> <br>
    </div>
   
    <div class="col-sm-6"><h3><p><br>People who regularly consume nuts are less likely to gain weight over a five-year period or be overweight or obese, according to a study in the European Journal of Nutrition. Walnuts are particularly special because they contain a type of omega-3 called alpha-linoleic acid (ALA). They’re also a good way to eat more fiber and are rich in magnesium, which plays a key role in more than 300 biochemical reactions in the body.

        Try these delicious walnut recipes under 400 calories.</p></h3></div>

<br>         </div>

<div class="row">
    <div class="col-sm-6"><br>
        <img src="./assets/IMAGES/blogimg6.jpg" width="650px" height="300px"> <br>
    </div>
   
    <div class="col-sm-6"><h3><p><br>In the era of coconut everything, olive oil is an important staple in some of the top-ranked diets including DASH and the Mediterranean diet. Incorporating it in your diet as one of your go-to healthy fats pays off: Research shows people who do so may lose weight and reduce belly fat.

        Use it to cook veggies, pasta and soup.
        
        </p></h3></div>

<br>         </div>

<div class="row">
    <div class="col-sm-6"><br>
        <img src="./assets/IMAGES/blogimg7.jpg" width="650px" height="350px"> <br>
    </div>
   
    <div class="col-sm-6"><h3><p><br>As a source of natural sugar, people remain weary that eating berries may cause weight gain. The reality is that, in moderation, fruit — especially berries — can add a source of satisfying, subtle sweetness to any eating plan. Raspberries, blackberries, blueberries and strawberries are rich in disease-fighting polyphenols and are lower-carb.

        Try them as an oatmeal or yogurt topping, snack or dessert.</p></h3></div>

<br>         </div>

<div class="row">
    <div class="col-sm-6"><br>
        <img src="./assets/IMAGES/blogimg8.jpg" width="650px" height="520px"> <br>
    </div>
   
    <div class="col-sm-6"><h3><p><br>One of the best things about broccoli is its versatility: It shines as a stand-alone side when roasted, soaks up sauce perfectly in a stir-fry, and is a tasty snack with homemade dressing. Better yet, broccoli yields a ton of nutrients for very few calories. “Broccoli contains specific sulfur-containing compounds called sulforaphane that can lend protection against certain cancers,” says Catherine Perez, RD. It’s also a surprisingly good source of C, which plays a key role in immune function. One cup (150g) of chopped florets has 81 mg of vitamin C, which represents 108% and 90% of the RDA for women and men, respectively.

        Try it in this delicious vegan casserole, added to pasta or in a quick stir-fry.</p></h3></div>

<br>         </div>

<div class="row">
    <div class="col-sm-6"><br>
        <img src="./assets/IMAGES/blogimg9.jpg" width="650px" height="450px"> <br>
    </div>
   
    <div class="col-sm-6"><h3><p><br>They’ve been trendy for years now, but there’s a reason why chia seeds have risen to the top. “Chia seeds contain a lot of great omega-3 fats, which are beneficial to heart health and cognitive function,” says Perez. What’s more, if you’re on a low-carb diet of any kind (including keto), they can help you meet your fiber needs (something that can be hard to do when cutting back on carbs). One tablespoon of chia seeds contains about 3 grams of digestion-friendly fiber.

        Add them to smoothies, overnight oats, sprinkle them on veggies before roasting or try chia pudding.</p></h3></div>

<br>         </div>

<div class="row">
    <div class="col-sm-6"><br>
        <img src="./assets/IMAGES/blogimg11.jpg" width="650px" height="400px"> <br>
    </div>
   
    <div class="col-sm-6"><h3><p><br>Perez often recommends her clients eat more kiwi because they’re “loaded with fiber, and they actually have more vitamin C than a regular orange.” A single kiwi has two grams of fiber and just 42 calories. Besides, they may be the perfect bedtime snack. Past research shows eating two can help you sleep better and longer, possibly because kiwi is rich in the calming neurotransmitter serotonin.

        Enjoy kiwi on its own as a snack or add it to smoothie bowls and overnight oats.
        
        </p></h3></div>

<br>         </div>
<div class="row">
    <div class="col-sm-6"><br>
        <img src="./assets/IMAGES/blogimg10.jpg" width="650px" height="550px"> <br>
    </div>
   
    <div class="col-sm-6"><h3><p><br>“Black beans and red kidney beans have more antioxidants than blueberries,” says Perez, who advocates consuming more beans. “They’re rich in fiber and plant-based protein to keep you satisfied for longer.” For instance, a half-cup of black beans packs 7 grams of protein and more than 8 grams of fiber for 109 calories. Research in The American Journal of Clinical Nutrition finds regularly including beans in your diet can help lower “bad” LDL cholesterol and reduce the risk of metabolic syndrome, heart disease and diabetes. Bonus: They’re inexpensive and easy to use.

        Add beans to hearty soups, no-cook salads, tacos and breakfast burritos.
        
        </p></h3></div>
        </div>


</body>
</html>