
<!DOCTYPE html>
<html lang="en">
<body>
  
    <style>

    .container {
      position: relative;
      text-align: center;
      color:darkslategray;
  
    }
    .carousel-inner img {
    width: 100%;
    height: 100%;
    
  }
    .centered {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color:darkviolet;
    }
    </style>
    
    <div class="container">
      <img src="./assets/IMAGES/11.png" alt="Snow" width="1080px" height="550px">
      <div class="centered"><h1 style="color:coral">
        <br>
        "LET FOOD BE THY MEDICINE,<br>LET MEDICINE BE THY FOOD."
      <br><h6>~HIPPOCRATES</h6></h1>
      </div>
      </div>
  
<div class="card text-grey">
    
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6"><br>
          <img src="./assets/IMAGES/gifimg.gif" width="1300px" height="550px"> <br>
        </div>
        <div class="row">
          <div class="col-sm-6"><br>
              <img src="./assets/IMAGES/nutrition and imporatnce.jpg" width="650px" height="300px"> <br>
          </div>
         
          <div class="col-sm-6"><h3><p><br>A healthy diet throughout life promotes healthy pregnancy outcomes, supports normal growth, development and ageing, helps to maintain a healthy body weight, and reduces the risk of chronic disease leading to overall health and well-being.
            It helps the body to fight diseases and absorb nutrients and medication, as well as preventing dehydration.<br></p></h3></div>
 
 <br>         </div>
  </div>
</div>
    
  
  <br>
  
<div class="container">
  <div class="row">
  
<div class="x">
    <div id="demo" class="carousel slide" data-ride="carousel">
      <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
        <li data-target="#demo" data-slide-to="3"></li>
        <li data-target="#demo" data-slide-to="4"></li>
      </ul>
      <div class="carousel-inner">
        <div class="carousel-item active">

      
            <video src="./assets/MEDIA/3 rules for fruits.webm" controls width="1150px" height="350px"></video>
              <div class="carousel-caption">
              <p>THREE RULES FOR FRUITS</p>
              </div>

            </div>

            <div class="carousel-item">
            <video src="./assets/MEDIA/beginners guide.mp4" controls width="1150px" height="350px"></video>
            <div class="carousel-caption">
              <p>BEGINNERS GUIDE</p>
              </div>
          </div> 
          <div class="carousel-item">
                <video src="./assets/MEDIA/immunity.mp4" controls width="1150px" height="350px"></video>
                <div class="carousel-caption">
                  <p>IMMUNITY</p>
                  </div>
                </div>
                <div class="carousel-item">
                  <video src="./assets/MEDIA/videoplay.webm" controls width="1150px" height="350px"></video>
                  <div class="carousel-caption">
                    <p>THE FOOD GUIDE</p>
                    </div>

                  </div>
                  <div class="carousel-item"> 
                <video src="./assets/MEDIA/Healthy Weight Loss Salad Recipe _ Organic and Healthy Recipes _ Sridevi Jasti _ Vibrant Living.mp4" controls width="1150px" height="350px">
              </video>
              <div class="carousel-caption">
                <p>HEALTHY WEIGHT LOSS</p>
                </div>
               </div>
            
      
      <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
     
      <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
      
      
    </div> </div>
   
 </div>
 
  </div>
</div>
    
      <div class="row">
        <div class="col-sm-12">
          <br>
          <div class="card text-primary" class="abc">
            <div class="card-body"></div>
         <P>Blogs on food, nutrition and diet will be posted on a monthly basis to educate the public on some common topics. Suggestions that are easy to understand and follow will be provided within the blog. Some healthy recipes will be included in a particular section of the blog.</P>

 </div></div></div>
  <router-outlet></router-outlet>
  